body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Ond {
  margin-top: -8em;
}
.Hnd p,
.Ond p {
  font-style: italic;
}

.Activities {
  margin-top: -6em;
}
a {
  text-decoration: none;
}
button {
  width: 100%;
  margin: 0.5 auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 2em;
  cursor: pointer;
  background: #003d73;
  color: white;
}
 

 
