body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.dotit{
 
  height:  15px;
  width: 15px;
  color:#003d73;
}
 
.Hnd > strong {
  max-width: 10%;
}

a {
  text-decoration: none;
  color: black;
}
button {
   
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 2em;
  cursor: pointer;
  background: #003d73;
  color: white;
  border: 0;
  
}

 
 

.Activities > *{
  margin-left:  9em ;
}
